
.categories {
  margin: 0.5rem auto;
  padding: 1rem;
  background-image: linear-gradient(to right, black, darkgrey);
}

.categories-titres {
  padding: 40px;
  margin-left: 0.5rem 0;
  padding: 1rem;
  font-family: "GameOfThrones";
  font-size: 2rem;
  color: white;
}
.categories-contenu-troupeau {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem;
}
.categories-troupeau {
  display: flex;
  flex-direction: row;
  height: 150px;
  img {
    height: 100%;
    border: solid 1px black;
  	box-shadow: 2px 2px 6px black;
    margin: 0 0.25rem;
  }
}
.categories-effectif {
  font-size: 1.5rem;
  box-shadow: 2px 2px 6px black;
}
.main-titre-image {
  height: 300px;
  img {
    height: 100%;
  }
}
.image_troupeau-choisi {
  box-shadow: 6px 6px 6px green !important;
}
.categories-infestation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  .feu {
    margin: 0.25rem;
    border-radius: 100%;
    filter: opacity(30%);
    cursor: pointer;
    &:hover {
      border: solid 1px white;
    }
  }
  input { display: none}
  .vert {
    background: lightgreen;
    height: 20px;
    width: 20px
  }
  .orange {
    background: orange;
    height: 40px;
    width: 40px
  }
  .rouge {
    background: red;
    height: 60px;
    width: 60px
  }
  .feu-choisi {
    filter: opacity(100%);
    box-shadow: 1px 1px 5px slategrey
  }
}
.categories-contenu-patures {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 1rem;

}
.droite {
  grid-column: 2;
  padding: 1rem;
  padding-top: 0;

}
.gauche {
  grid-column: 1;
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;
  .categories-contenu-ligne {
    margin: 0.5rem 1rem;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  input, select {
    box-shadow: 2px 2px 6px black;
    margin: 0 0.5rem;
    font-size: 1.5rem;
  }
}
.plus {
  color: lightgrey;
  font-size: 3.9rem;
  background: darkgreen;
  border-radius: 50%;
  margin: 1rem 1rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  line-height: 2.9rem;
  &:hover {
    background: green;
    color: black;
  }
  img{
    height: 50px;
  }
}
#boutons {
  display: flex;
  justify-content: space-between;
}
.demo {
  width: 230px;
  margin: 0 1rem 1rem 1rem;
  // margin-top: 0;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  flex-shrink: 1;
  img {
    height: 30px;
  }
  p {
    font-size: 1rem;
    margin: 0.25rem;
  }
}
.sommaire {
  font-size: 1rem;
}
.efface-ligne {
  width: 50px;
  cursor: pointer;
  &:hover {
    filter: invert(100%);
  }
}
