.categories {
  margin: 0.5rem auto;
  background-image: linear-gradient(to right, black, darkgrey);
}
.categories-titres {
  padding: 40px;
  margin-left: 0.5rem 0;
  padding: 1rem;
  font-family: "GameOfThrones";
  font-size: 2rem;
  color: white;
}
.main-titre-image {
  height: 300px;
  img {
    height: 100%;
  }
}
.categories-contenu {
  padding: 0.75rem;
}
