@mixin background-image($img, $background-position, $background-color) {
    background-image: url('../img/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-color: $background-color ;
    background-size: contain;
}

@font-face{
     font-family: "GameOfThrones";
     src: url("../font/Game_of_Thrones.ttf");
}
input{
	/* Firefox */
	-moz-appearance: textfield;

	/* Chrome */
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin:0;
	}

	/* Opéra*/
	&::-o-inner-spin-button {
		-o-appearance: none;
		margin: 0;
	}
}
#main {
  margin-left: 0;
}
.main-titre {
  margin: 5px 0;
  background-image: linear-gradient(to right, darkgrey, black , darkgrey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .main-titre-texte {
    margin: 0 3rem;
  }
  h1, h3 {
    align-self: center;
    text-align: center;
    margin: 25px 0;
  }
  h1 {
    font-size: 3rem;
  }

}

.bandeau {
  border: 0 !important;
  background-image: linear-gradient(to right, black, darkgrey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    width: 50px;
    cursor: pointer;
  }
}
.titre {
  font-family: 'GameOfThrones';
  color: white;
  text-shadow: 3px 3px 3px lightgrey;
}
.petit {
	font-size: 50%;
	vertical-align: middle;
}
.moyen {
  font-size: 75%;
}
#pas_de_temps {
  font-size: 150%;
  font-weight: bold;
  color: red;
  cursor: pointer;
}
.invisible {
  visibility: hidden;
}
.masque {
  display: none;
}
#constantes {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10000;
}
