@mixin background-image($img, $background-position, $background-color) {
    background-image: url('../img/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-color: $background-color ;
    background-size: contain;
}

@font-face{
     font-family: "GameOfThrones";
     src: url("../font/Game_of_Thrones.ttf");
}

#bandeau {
  background-image: linear-gradient(to right, black, darkgrey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  #titre {
    font-family: 'GameOfThrones';
    color: white;
    text-shadow: 3px 3px 3px lightgrey;
  }
  img {
    width: 50px;
    cursor: pointer;
  }
}
.petit {
	font-size: 50%;
	vertical-align: middle;
}

.invisible {
  visibility: hidden;
}
