@mixin background-image($img, $background-position, $background-color) {
    background-image: url('../img/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-color: $background-color ;
    background-size: contain;
}

@font-face{
     font-family: "GameOfThrones";
     src: url("../font/Game_of_Thrones.ttf");
}
#main {
  margin-left: 0;
}

#moniteur {
  background: darkgrey;
}
#resultats {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  border: none;
}
.cadran {
  border: solid 1px black;
  font-family: 'GameOfThrones';
  .titre {
    padding: 5px;
    background: lightgrey
  }
  p {
    padding: 5px;
    margin: 5px;
  }
}
.bandeau {
  background-image: linear-gradient(to right, black, darkgrey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .titre {
    font-family: 'GameOfThrones';
    color: white;
    text-shadow: 3px 3px 3px lightgrey;
  }
  img {
    width: 50px;
    cursor: pointer;
  }
}
.petit {
	font-size: 50%;
	vertical-align: middle;
}

.invisible {
  visibility: hidden;
}
