#resultats {
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
  border: none;
}
#plateau {

}
.infos {
  padding: 0 10px;
  max-width: 250px;
  background: darkgrey;
}
.moniteur-titre {
  font-family: 'GameOfThrones';
  line-height: 3rem !important;
  color: white
}
.cadran {
  border: solid 1px black;
  font-family: 'GameOfThrones';
  margin-bottom: 10px;
  .moniteur-sous-titre {
    padding: 5px;
    background: lightgrey
  }
  p {
    padding: 5px;
    margin: 5px;
  }
  .chiffres {
    display: grid;
    grid-template-columns: 60% 1fr;
    font-size: 0.75rem;
    .soustitre {
      align-self: center;
      padding: 0;
    }
    p {
      padding: 5px 0;
    }
    .valeur {
      text-align: right;
      color: red;
    }
  }
}
