
#exploitation {
  width: 100%;
  // height: 100%;
}
.pature {
  margin: 5px;
  border: solid 1px darkgrey;
  .pature-nom {
    display: inline-block;
    padding: 1px 4px;
    background: darkgreen;
    color: white;
    font-weight: bold;
  }
  .entete {
    background: lightgreen;
    height: 25px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px grey;
    .divise {
      width: 25px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    p {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.pature-superficie {
  width: 150px;
  text-align: right;
  padding-right: 1rem;
}
.pature-superficie-label {
	color: white;
	font-size: 1.5rem;
	line-height: 3.0rem;
}
.parcelles {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.parcelle {
  position: relative;
  border: solid 1px grey;
}
.parcelle-avec-troupeau {
  border: dotted 3px black !important;
}

.pat {
  background: url("../svg/pat.svg") lightgreen repeat;
}

.fauche {
  background: url("../svg/fauche.svg") lightgreen repeat;
}

.sousbois {
  background: url("../svg/sousbois.svg") lightgreen repeat;
}

.nouvelle {
  background: url("../svg/nouvelle.svg") lightgreen repeat;
}
