
.infestant {
  position: absolute;
  height: 8px;
  width: 0.5px;
  border-radius: 50%;
  border: solid 2px red;
  background: red;
}
.non_infestant {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  border: solid 1px black;
}
.mort {
  visibility: hidden;
}
